/* ==========================================================================
   Author's custom styles
   ========================================================================== */

table.table-centered th,
table.table-centered td {
    text-align: center !important;
    vertical-align: middle !important;
}

table.table td { position: relative; }
table.table td span.day {
    position: absolute;

    width: 20px;
    height: 20px;

    top: -1px;
    left: -1px;

    line-height: 20px;
}

table.table td span.rest {
    display: none;
    font-size: 1.5em;
    font-weight: bolder;
}

.container {
    max-width: none !important;
    width: 970px;
}
