{% extends 'layout.html.twig' %}

{% block title %}30-day AB challenge{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">30-day AB challenge</h1>

  <table id="data" class="table table-bordered table-centered">
    <tr>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
      <th>Dimanche</th>
      <th>Lundi</th>
      <th>Mardi</th>
    </tr>

    <tr id="row-1" data-row="1">
      <td class="cell-1" data-cell="1">
        <span class="day"></span>

        <span class="values">
          <span class="su"><span class="value"></span> sit-ups</span><br/>
          <span class="cr"><span class="value"></span> crunches</span><br/>
          <span class="lr"><span class="value"></span> leg raises</span><br/>
          <span class="pl"><span class="value"></span>&rdquo; plank</span>
        </span>

        <span class="rest">REST</span>
      </td>
      <td class="cell-2" data-cell="2"></td>
      <td class="cell-3" data-cell="3"></td>
      <td class="cell-4" data-cell="4"></td>
      <td class="cell-5" data-cell="5"></td>
      <td class="cell-6" data-cell="6"></td>
      <td class="cell-7" data-cell="7"></td>
    </tr>

    <tr id="row-2" data-row="2"></tr>
    <tr id="row-3" data-row="3"></tr>
    <tr id="row-4" data-row="4"></tr>

    <tr id="row-5" data-row="5">
      <td class="cell-1" data-cell="1">
        <span class="day"></span>

        <span class="values">
          <span class="su"><span class="value"></span> sit-ups</span><br/>
          <span class="cr"><span class="value"></span> crunches</span><br/>
          <span class="lr"><span class="value"></span> leg raises</span><br/>
          <span class="pl"><span class="value"></span>&rdquo; plank</span>
        </span>

        <span class="rest">REST</span>
      </td>
      <td class="cell-2" data-cell="2">

        <span class="day"></span>

        <span class="values">
          <span class="su"><span class="value"></span> sit-ups</span><br/>
          <span class="cr"><span class="value"></span> crunches</span><br/>
          <span class="lr"><span class="value"></span> leg raises</span><br/>
          <span class="pl"><span class="value"></span>&rdquo; plank</span>
        </span>

        <span class="rest">REST</span>
      </td>
      <td colspan="5"></td>
    </tr>
  </table>

  <footer>
    <p class="text-center">
      <a href="http://i.imgur.com/XBhUkh8.jpg" target="_blank">Source</a>
    </p>
  </footer>
</div><!-- .container -->
{% endblock %}

{% block script %}
<script>
jQuery(function ($) {
  var data = {
    1: {
      1: { 'su':  15, 'cr':   5, 'lr':  5, 'pl':  10, 'rest': false },
      2: { 'su':  20, 'cr':   8, 'lr':  8, 'pl':  12, 'rest': false },
      3: { 'su':  25, 'cr':  10, 'lr': 10, 'pl':  15, 'rest': false },
      4: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      5: { 'su':  30, 'cr':  12, 'lr': 12, 'pl':  20, 'rest': false },
      6: { 'su':  35, 'cr':  15, 'lr': 15, 'pl':  25, 'rest': false },
      7: { 'su':  40, 'cr':  20, 'lr': 20, 'pl':  30, 'rest': false },
    },
    2: {
      1: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      2: { 'su':  45, 'cr':  30, 'lr': 30, 'pl':  35, 'rest': false },
      3: { 'su':  50, 'cr':  50, 'lr': 30, 'pl':  38, 'rest': false },
      4: { 'su':  55, 'cr':  65, 'lr': 33, 'pl':  42, 'rest': false },
      5: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      6: { 'su':  60, 'cr':  75, 'lr': 40, 'pl':  50, 'rest': false },
      7: { 'su':  65, 'cr':  85, 'lr': 42, 'pl':  55, 'rest': false },
    },
    3: {
      1: { 'su':  70, 'cr':  90, 'lr': 42, 'pl':  60, 'rest': false },
      2: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      3: { 'su':  75, 'cr': 100, 'lr': 45, 'pl':  65, 'rest': false },
      4: { 'su':  80, 'cr': 110, 'lr': 48, 'pl':  70, 'rest': false },
      5: { 'su':  85, 'cr': 120, 'lr': 50, 'pl':  75, 'rest': false },
      6: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      7: { 'su':  90, 'cr': 130, 'lr': 52, 'pl':  80, 'rest': false },
    },
    4: {
      1: { 'su':  95, 'cr': 140, 'lr': 55, 'pl':  85, 'rest': false },
      2: { 'su': 100, 'cr': 150, 'lr': 58, 'pl':  90, 'rest': false },
      3: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
      4: { 'su': 105, 'cr': 160, 'lr': 60, 'pl':  95, 'rest': false },
      5: { 'su': 110, 'cr': 170, 'lr': 60, 'pl': 100, 'rest': false },
      6: { 'su': 115, 'cr': 180, 'lr': 62, 'pl': 110, 'rest': false },
      7: { 'su':   0, 'cr':   0, 'lr':  0, 'pl':   0, 'rest': true  },
    },
    5: {
      1: { 'su': 120, 'cr': 190, 'lr': 62, 'pl': 115, 'rest': false },
      2: { 'su': 125, 'cr': 200, 'lr': 65, 'pl': 120, 'rest': false },
    },
  };

  var today = new Date();
  var i = 1;
  var state = null;

  $.each( data, function( k, row ) {

    if ( 1 < k && k < 5 ) {
      $('#row-'+ k).html(
        $('#row-1').html()
      );
    }

    $.each( row, function( l, cell) {

      if ( l > 1 ) {
        $('#row-'+ k +' td.cell-'+ l).html(
          $('#row-1 td.cell-1').html()
        );
      }

      if ( i < today.getDate() )       // Jour passé
        state = 'success';
      else if ( i == today.getDate() ) // Jour actuel
        state = 'warning today';
      else if ( i > today.getDate() )  // Jour futur
        state = 'danger';


      $('#row-'+ k +' td.cell-'+ l)
        .removeClass('success warning danger today')
        .addClass( state )
      ;

      $('#row-'+ k +' td.cell-'+ l +' span.day')
        .text( i )
        .removeClass('btn-success btn-warning btn-danger today')
        .addClass('btn-'+ state)
      ;


      if ( cell.rest ) {

        $('#row-'+ k +' td.cell-'+ l +' span.values').hide();
        $('#row-'+ k +' td.cell-'+ l +' span.rest').show();

      } else {

        $.each( cell, function( m, value ) {
          $('#row-'+ k +' td.cell-'+ l +' span.'+ m +' span.value').text( value );
        });

      }

      i++;

    });
  });
});
</script>
{% endblock %}
